@import "node_modules/bootstrap/scss/bootstrap";

html,body {
  height: 100%;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.gradient {
  background: rgb(21,66,132);
  background: linear-gradient(135deg, rgba(21,66,132,1) 0%, rgba(205,18,45,1) 100%); 
}

.component-header {
  margin-top: 4rem;
  font-size: 1.25rem;
  color: #fff;
}

.component-feature {
  color: #fff;

  &__list {
    padding-left: 2rem;
    list-style: none;
  }

  &__item {
    padding-left: 2rem;
    background-image: url(./img/check.svg);
    background-repeat: no-repeat;
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }
}

